.cart-modal-container {
  display: flex;
  height: 300px;
  width: 350px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 300px;
}

.cart-img-text-container {
  display: flex;
  height: 200px;
  width: 300px;
  flex-direction: column;
}

.cart-buttons-container {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

.cart-image {
  display: flex;
  object-fit: fill;
  width: 80%;
  height: 80%;
}

.cart-preview-img {
  height: 200px;
}

.single-cart-item-container {
  border-bottom: 2px solid gainsboro;
}

.total-box {
  border: 2px solid black;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
}

.total-text {
  font-size: 25px;
  border-bottom: 2px solid black;
  width: fit-content;
}

.cart-summary-container {
  background-color: antiquewhite;
}
